src/main/java/mypackage/da.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="NewsArticleInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="ClubName"/>
                <xs:element type="xs:string" name="ClubWebsiteURL"/>
                <xs:element name="NewsArticle">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="ArticleURL"/>
                            <xs:element type="xs:int" name="NewsArticleID"/>
                            <xs:element type="xs:string" name="PublishDate"/>
                            <xs:element type="xs:string" name="Taxonomies"/>
                            <xs:element type="xs:string" name="TeaserText"/>
                            <xs:element type="xs:string" name="Subtitle"/>
                            <xs:element type="xs:string" name="ThumbnailImageURL"/>
                            <xs:element type="xs:string" name="Title"/>
                            <xs:element name="BodyText">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="p" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="a" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="href" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="h6">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="em"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="GalleryImageURLs"/>
                            <xs:element type="xs:string" name="VideoURL"/>
                            <xs:element type="xs:string" name="OptaMatchId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>